@{
    ViewBag.Title = "Movie Confirmation";
}

@model AndrewHomework3.Models.MovieModel

<br />

<!--Logic to show user that Indepence Day will not be recorded in database-->
@if (Model.Title.ToUpper() == "INDEPENDENCE DAY")
{
    <h6>The movie "@Model.Title" cannot be stored in this application, sorry!</h6>
}
else
{
    <h6>The movie "@Model.Title" was recorded</h6>
}


<div>
    <h6>Click <a asp-action="List">here</a> to see the list of recorded movies</h6>
</div>
