@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Movie Confirmation";
}

@model AndrewHomework3.Models.MovieModel

<br />
<h6>The movie "@Model.Title" was recorded</h6>

<div>
    <h6>Click <a asp-action="List">here</a> to see the list of recorded movies</h6>
</div>
